*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 400px) {
    body{
        width: 100%;
        overflow: hidden;
    }

    #container .title {
        width: 75%;
        height: 70px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;

        /* overflow: hidden; */
    }
}